.dashicons-gohighlevel {
    background-image: url('../img/dashicon-gohighlevel.svg');
    background-size: 100%;
}

.automatorwp-integration-icon img[src*='dashicon-gohighlevel.svg'] {
    display: block;
    background: #fff;
    border-radius: 8px;
}
